# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle

POSTGRES_USER=""
POSTGRESS_PASSWORD=""
POSTGRES_DB="tech-survey"
POSTGRES_HOST="localhost:5432"


# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

